<main class="main">
    <form #addCarForm="ngForm" (ngSubmit)="onSubmit(addCarForm)" >
        <div class="w-full flex flex-col items-center jus base border-2 m-5 p-5 rounded-lg">
            <label for="make">
                Make:  
            </label>
            <input id="make" name="make" type="text" ngModel required class="m-2 surface p-4 rounded-lg">
    
            <label for="model">
                Model:  
            </label>
            <input id="model" name="model" type="text" ngModel required class="m-2 surface p-4 rounded-lg">
    
            <label for="color">
                Color:
            </label>
            <input id="color" name="color" type="text" ngModel required class="m-2 surface p-4 rounded-lg">
    
            <label for="releaseYear">
                Release Year:  
            </label>
            <input id="releaseYear" name="releaseYear" type="number" ngModel required class="m-2 surface p-4 rounded-lg">
    
            <label for="electric">
                Electric:
            </label>
            <input id="electric" name="electric" type="checkbox" ngModel class="m-2 surface p-4 rounded-lg">
    
            <div>
                <button type="submit" [disabled]="!addCarForm.valid" class="m-2 button surface p-2 rounded-lg hover:bg-green-700">Add</button>
            </div>
        </div>
    </form>
</main>